---
import { render } from 'astro:content';
import { getBlogCollection } from '../../utils/collection';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { siteConfig } from '@/configs/site';
import { Comments } from '@/components/posts/Comments';
import { Toc } from '@/components/posts/Toc';
import { BackToTop } from '@/components/posts/BackToTop';
import ArticleHeader from '@/components/posts/ArticleHeader.astro';
import { ImageLightboxViewer } from '@/components/posts/ImageLightbox';
import License from '@/components/posts/License.astro';
import '/node_modules/katex/dist/katex.min.css';
import HetiScript from '@/scripts/heti.astro';
import MermaidScript from '@/scripts/mermaid.astro';

export async function getStaticPaths() {
  const posts = await getBlogCollection();
  return posts.map((post, i) => ({
    params: { slug: post.data.slug },
    props: {
      post,
      prevPost: posts[i - 1],
      nextPost: posts[i + 1],
    },
  }));
}
const { post } = Astro.props;
const { headings, Content } = await render(post);
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.cover}
  article={{
    publishedTime: post.data.created_at.toISOString(),
    modifiedTime: post.data.updated_at.toISOString(),
    author: siteConfig.author,
    tags: post.data.tags,
  }}
>
  <div class="relative lg:mt-[80px]">
    <article class="px-2">
      <ArticleHeader post={post} />
      <section
        class="heti prose max-w-[100%] dark:prose-invert prose-h1:font-bold prose-h1:text-xl
          prose-a:text-zinc-800 dark:prose-a:text-zinc-200 prose-a:hover:text-theme-primary dark:prose-a:hover:text-theme-light prose-a:transition-all prose-a:duration-300 prose-a:rounded-sm prose-a:underline prose-a:decoration-dashed prose-a:decoration-zinc-800/25 dark:prose-a:decoration-zinc-200/25 prose-a:hover:decoration-theme-primary/50 dark:prose-a:hover:decoration-theme-light/50 prose-a:underline-offset-2 prose-p:text-justify prose-pre:rounded-md prose-pre:border prose-pre:border-zinc-800/25 dark:prose-pre:border-zinc-200/25 prose-pre:bg-zinc-900/5 dark:prose-pre:bg-zinc-100/5"
      >
        <Content />
      </section>

      <div class="my-20"></div>
      <License post={post.data} />
    </article>
    <div class="my-10 border-t-1 border-zinc-800/5 dark:border-zinc-200/5">
    </div>
    <Comments client:visible />
  </div>
  {post.body?.includes('![') && <ImageLightboxViewer client:idle />}
  <HetiScript />
  <MermaidScript />

  <div
    slot="aside"
    class="mt-[80px] sticky top-[10%] backdrop-blur-md shadow-zinc-800/5 rounded-md"
  >
    <Toc headings={headings} client:idle />
    <BackToTop client:idle />
  </div>
</BaseLayout>
