---
import { getCollection, render } from 'astro:content';
import { sortByCreatedAt } from '../../utils/collection';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { ItemDate, ItemTags } from '@/components/posts/List';
import Comments from '@/components/posts/Comments.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const sortedPosts = posts.toSorted(sortByCreatedAt);
  return sortedPosts.map((post, i) => ({
    params: { slug: post.data.slug },
    props: {
      post,
      prevPost: sortedPosts[i - 1],
      nextPost: sortedPosts[i + 1],
    },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <article class="mt-[80px] px-2 min-w-3xl">
    <section class="mb-10">
      <ItemDate post={post.data} />
      <h1
        class="font-bold text-4xl"
        transition:name={`${post.data.slug}-title`}
      >
        {post.data.title}
      </h1>
      <div
        class="flex gap-2 mt-4 justify-end border-t-1 border-zinc-800/5 py-2"
      >
        <ItemTags post={post.data} />
      </div>
    </section>

    <div
      class="prose prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
    >
      <Content />
    </div>
  </article>

  <div class="my-10 border-t-1 border-zinc-800/5"></div>

  <Comments />
</BaseLayout>
