---
import { getLocalPlaceholder } from '@/utils/image';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  friend: CollectionEntry<'friends'>['data'];
}

const { friend } = Astro.props;

const placeholder = await getLocalPlaceholder(friend.imgSrc, true);
---

<a
  href={friend.url}
  target="_blank"
  rel="noopener noreferrer"
  class="group a-normal no-underline flex items-center gap-3 py-2 px-4 rounded-lg bg-white/80 dark:bg-gray-800/80 transition-all duration-300 ease-in-out h-full border-1 border-zinc-800/5 dark:border-zinc-200/5 border-dashed hover:-translate-y-1"
>
  <div
    class="size-10 rounded-full overflow-hidden flex-shrink-0 group-hover:scale-110 transition-all duration-300"
  >
    <Image
      src={friend.img}
      alt={friend.id}
      loading="lazy"
      class="w-full h-full object-cover group-hover:scale-120 transition-all duration-300"
      style={placeholder.style}
    />
  </div>
  <div class="flex flex-col justify-center">
    <h3 class="m-0 text-sm">{friend.id}</h3>
    {
      friend.desc && (
        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400 overflow-hidden text-ellipsis line-clamp-2">
          {friend.desc}
        </p>
      )
    }
  </div>
</a>
