---
import { Footer } from '@/components/layouts/Footer';
import { Header } from '@/components/layouts/Header';
import { siteConfig } from '@/configs/site';
import '@/styles/global.css';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
}
const { title: pageTitle } = Astro.props;
const title = pageTitle
  ? `${pageTitle} | ${siteConfig.title}`
  : siteConfig.title;
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={siteConfig.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteConfig.title}
      href={new URL('rss.xml', siteConfig.site)}
    />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-1 mx-auto max-w-3xl 2xl:max-w-4xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
